<!DOCTYPE html>
<html lang="en" data-theme="valentine">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />

    <title>Edit</title>
  </head>
  <body>
    <header>
      <!-- Include the navbar -->
      <%- include('../partials/navbar', {page: '/'}) %>
    </header>
    <main>
      <!-- Main Content -->
      <div class="md:flex">
        <!-- Left Side -->
        <div
          class="relative overflow-hidden md:flex w-1/2 bg-gradient-to-r from-purple-600 via-pink-600 to-red-500 justify-around items-center hidden animate__animated animate__fadeInLeft"
        >
          <div>
            <h1
              class="text-white font-extrabold text-6xl font-mono animate__animated animate__fadeInDown"
            >
              Oh La La, Keep It Spicy! 🌶️
            </h1>
            <p
              class="text-white mt-2 text-lg font-serif animate__animated animate__fadeInUp"
            >
              Why just
              <span
                class="text-purple-300 animate__animated animate__pulse animate__infinite"
                >exist</span
              >, when you can
              <i
                class="fa-solid fa-fire text-purple-300 animate__animated animate__heartBeat animate__infinite"
              ></i>
              thrive?
            </p>
            <button
              type="submit"
              class="block w-32 bg-white text-pink-500 mt-4 py-2 rounded-full font-bold mb-2 hover:bg-pink-500 hover:text-white transition duration-300 animate__animated animate__bounce"
            >
              <a href="/">Unleash</a>
            </button>
          </div>
          <div
            class="absolute -bottom-32 -left-40 animate__animated animate__fadeIn animate__delay-1s"
          >
            <i
              class="fas fa-heart text-pink-300 text-6xl animate__animated animate__pulse animate__infinite"
            ></i>
          </div>
          <div
            class="absolute -bottom-40 -left-20 animate__animated animate__fadeIn animate__delay-2s"
          >
            <i
              class="fas fa-heart text-pink-300 text-6xl animate__animated animate__pulse animate__infinite"
            ></i>
          </div>
          <div
            class="absolute -top-40 -right-0 animate__animated animate__fadeIn animate__delay-3s"
          >
            <i
              class="fas fa-heart text-pink-300 text-6xl animate__animated animate__pulse animate__infinite"
            ></i>
          </div>
          <div
            class="absolute -top-20 -right-20 animate__animated animate__fadeIn animate__delay-4s"
          >
            <i
              class="fas fa-heart text-pink-300 text-6xl animate__animated animate__pulse animate__infinite"
            ></i>
          </div>
        </div>
        <!-- Right Side -->
        <div
          class="flex md:w-1/2 justify-center py-10 items-center bg-gradient-to-tr from-purple-500 via-pink-500 to-red-400 animate__animated animate__fadeInRight"
        >
          <form
            class="bg-white rounded-xl p-5 shadow-lg"
            method="POST"
            action="/manage/<%= person._id %>?_method=PUT"
          >
            <h1 class="text-gray-800 font-bold text-2xl mb-1">
              Update Your Details
            </h1>
            <p class="text-sm font-normal text-gray-600 mb-7">
              Please update the information below as needed.
            </p>
            <!-- Name Input -->
            <div class="mb-4">
              <label for="name" class="text-sm text-gray-600 mb-1 block"
                >Full Name</label
              >
              <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
                <input
                  class="pl-2 outline-none border-none"
                  type="text"
                  name="name"
                  value="<%= person.name %>"
                  id="name"
                  placeholder="Full name"
                />
              </div>
            </div>

            <!-- Position Input -->
            <div class="mb-4">
              <label for="position" class="text-sm text-gray-600 mb-1 block"
                >Position</label
              >
              <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
                <input
                  class="pl-2 outline-none border-none"
                  type="text"
                  name="position"
                  value="<%= person.position %>"
                  id="position"
                  placeholder="Position"
                />
              </div>
            </div>

            <!-- Education Input -->
            <div class="mb-4">
              <label for="education" class="text-sm text-gray-600 mb-1 block"
                >Education</label
              >
              <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
                <input
                  class="pl-2 outline-none border-none"
                  type="text"
                  name="education"
                  value="<%= person.education %>"
                  id="education"
                  placeholder="Education"
                />
              </div>
            </div>

            <!-- Location Input -->
            <div class="mb-4">
              <label for="location" class="text-sm text-gray-600 mb-1 block"
                >Location</label
              >
              <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
                <input
                  class="pl-2 outline-none border-none"
                  type="text"
                  name="location"
                  value="<%= person.location %>"
                  id="location"
                  placeholder="Location"
                />
              </div>
            </div>

            <!-- Status Input -->
            <div class="mb-4">
              <label for="status" class="text-sm text-gray-600 mb-1 block"
                >Status</label
              >
              <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
                <textarea
                  class="pl-2 outline-none border-none resize-none w-full h-20"
                  name="status"
                  id="status"
                  placeholder="Status"
                  rows="4"
                >
  <%= person.status %>
      </textarea
                >
              </div>
            </div>

            <!-- Description Input -->
            <div class="mb-4">
              <label for="description" class="text-sm text-gray-600 mb-1 block"
                >Description</label
              >
              <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
                <textarea
                  class="pl-2 outline-none border-none resize-none w-full h-32"
                  name="description"
                  id="description"
                  placeholder="Description"
                  rows="4"
                >
  <%= person.description %>
      </textarea
                >
              </div>
            </div>
            <!-- Submit Button -->
            <button
              type="submit"
              class="block w-full bg-indigo-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2"
            >
              Update
            </button>
          </form>
        </div>
      </div>
    </main>

    <footer>
      <!-- Include the footer -->
      <%- include('../partials/footer') %>
    </footer>
  </body>
</html>
